body{
    background-image: url("../media/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

ul{
    list-style: none;
    display: flex;
    gap: 35px;
    justify-content: center;
}

.header{
    height: 30vh;
    padding: 15px;
    background-color: black;
    filter: opacity(80%);
    color: white;
    display: grid;
    justify-content: center;
}
.title{
    font-size: 5rem;
}

.navElement{
    font-size: 2rem;
}
.navElement:hover{
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    zoom: 1.2;
    filter: opacity(70%);
}