body{
    background-image: url("../media/background.jpg");
    background-size: cover;
}

.header{
    height: 20%;
    background-color: black;
    filter: opacity(80%);
    color: white;
    display: grid;
    justify-content: center;
}
.title{
    font-size: 5rem;
}
